@page
@model FrontEnd.Pages.Data.Fabric.Brand.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FabricBrand[0].FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FabricBrand[0].Website)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FabricBrand[0].AdditionalInfo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FabricBrand) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Website)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionalInfo)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID" asp-route-fabricBrand="@Model.FabricBrand">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
