@page "{currentpage=1}/{sort?}/{sortDirection?}"
@using ModelLibrary.Models.Shared;
@model FrontEnd.Pages.Data.Fabric.Brand.IndexModel

@{
	ViewData["Title"] = "Index";
	var currentSortProperty = Model.Sort;
	var currentSortDirection = Model.SortDirection;
	var columns = new List<TableHeaderModel>
	{
		new TableHeaderModel("FullName", "Brand Name", currentSortProperty, currentSortDirection),
		new TableHeaderModel("Website", "Website", currentSortProperty, currentSortDirection),
		new TableHeaderModel("AdditionalInfo", "Additional Info", currentSortProperty, currentSortDirection)
	};

}

<h1>Fabric Brands</h1>

@if (Model.Items.Count != 0)
{
	<div class="d-flex justify-content-between align-items-center">
		<h4>
			<a asp-page="Create">Add New Brand</a>
		</h4>
		<partial name="_PageSizeDropdown" model="Model" />
	</div>
	<table class="table table-colors">
		<thead>
			<tr>
				@foreach (var column in columns)
				{
					<partial name="_SortableHeader" model="column" />
				}
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.Items)
			{
				<tr class="table-row-clickable" data-href='@Url.Page("./Details", new {id = item.ID})'>
					<td>
						@Html.DisplayFor(modelItem => item.FullName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Website)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.AdditionalInfo)
					</td>
					<td>
						<a asp-page="./Edit" asp-route-id="@item.ID" class="btn btn-primary btn-sm hide-on-mobile" title="Edit"><i class="fas fa-edit"></i></a>
						<a asp-page="./Details" asp-route-id="@item.ID" class="btn btn-info btn-sm hide-on-mobile" title="Details"><i class="fas fa-info-circle text-white"></i></a>
						<a asp-page="./Delete" asp-route-id="@item.ID" class="btn btn-danger btn-sm hide-on-mobile" title="Delete"><i class="fas fa-trash-alt"></i></a>
					</td>
				</tr>
			}
		</tbody>
	</table>
	<div>
		@await Html.PartialAsync("_Pagination", Model)
	</div>
}
else
{
	<h5>Where's your favorite place to get fabric? Let's add them <a asp-page="./Create">here</a>.</h5>
}
