@page
@model FrontEnd.Pages.Data.Fabric.Brand.IndexModel

@{
	ViewData["Title"] = "Index";
}

<h1>Fabric Brands</h1>

@if (Model.FabricBrand.Count != 0)
{
	<h4>
		<a asp-page="Create">Add New Brand</a>
	</h4>
	<table class="table table-colors">
		<thead>
			<tr>
				<th>Brand Name</th>
				<th>Website</th>
				<th>Additional Info</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.FabricBrand)
			{
				<tr class="table-row-clickable" data-href='@Url.Page("./Details", new {id = item.ID})'>				
					<td>
						@Html.DisplayFor(modelItem => item.FullName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Website)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.AdditionalInfo)
					</td>
					<td>
						<a asp-page="./Edit" asp-route-id="@item.ID" class="btn btn-primary btn-sm hide-on-mobile" title="Edit"><i class="fas fa-edit"></i></a>
						<a asp-page="./Details" asp-route-id="@item.ID" class="btn btn-info btn-sm hide-on-mobile" title="Details"><i class="fas fa-info-circle text-white"></i></a>
						<a asp-page="./Delete" asp-route-id="@item.ID" class="btn btn-danger btn-sm hide-on-mobile" title="Delete"><i class="fas fa-trash-alt"></i></a>
					</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<h5>Where's your favorite place to get fabric? Let's add them <a asp-page="./Create">here</a>.</h5>
}