@page
@model FrontEnd.Pages.Data.Elastic.Elastic.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Elastic</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.ElasticType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.ElasticType.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Width)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Width)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Length)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Length)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Item?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
