@page
@model FrontEnd.Pages.Data.Elastic.Elastic.DetailsModel

@{
    ViewData["Title"] = "Elastic Details";
}

<partial name="_PageTitle" />
<div class="container mt-4">
    <div class="card mt-4">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Elastic Type</dt>
                <dd class="col-sm-9">
                    <a href="@Url.Page("../Type/Details", new { id = Model.Item.ElasticType.ID })" class="subtle-link">@Model.Item.ElasticType.Type</a>
                </dd>

                <dt class="col-sm-3">Color</dt>
                <dd class="col-sm-9">@Model.Item.Color</dd>

                <dt class="col-sm-3">Width</dt>
                <dd class="col-sm-9">@Model.Item.Width"</dd>

                <dt class="col-sm-3">Length</dt>
                <dd class="col-sm-9">@Model.Item.Length Yards</dd>
            </dl>
        </div>
    </div>
    <partial name="Details/_ToEditBackButtons" />
</div>
