@page "{currentpage=1}/{sort?}/{sortDirection?}"
@using ModelLibrary.Models.Shared;
@model FrontEnd.Pages.Data.Elastic.Elastic.IndexModel

@{
	ViewData["Title"] = "Elastics";
	var currentSortProperty = Model.Sort;
	var currentSortDirection = Model.SortDirection;
	var columnHeaders = new List<TableHeaderModel>
	{
		new TableHeaderModel("ElasticType.Type", "Elastic Type", currentSortProperty, currentSortDirection, false),
		new TableHeaderModel("Color", "Color", currentSortProperty, currentSortDirection, false),
		new TableHeaderModel("Width", "Width", currentSortProperty, currentSortDirection, false),
		new TableHeaderModel("Length", "Length", currentSortProperty, currentSortDirection, false)
	};
}


@if (Model.Items.Count != 0)
{
	<div class="d-flex justify-content-between align-items-center">
		<partial name="_PageTitle" />
		<partial name="Index/_PageSizeDropdown" model="Model" />
	</div>
	<br />
	<div class="d-flex justify-content-between align-items-center">
		<h4>
			<a asp-page="Create">Add New Elastic</a>
		</h4>
		<partial name="Index/_TableCardButtons" model="Model" />
	</div>
	<br />

	<div id="cardView" style="display: none;">
		<link rel="stylesheet" type="text/css" href="~/css/sortBar.css" asp-append-version="true" />
		<div id="sortBar">
			@foreach (var column in columnHeaders)
			{
				<partial name="Index/_SortBar" model="column" />
			}
		</div>
		<link rel="stylesheet" type="text/css" href="~/css/dataCard.css" asp-append-version="true" />
		@foreach (var item in Model.Items)
		{
			var expandableData = new List<KeyValuePair<string, string>>
	{
	new KeyValuePair<string, string>("Color", item.Color),
	new KeyValuePair<string, string>("Width", $"{item.Width.ToString()}\""),
	new KeyValuePair<string, string>("Length", $"{item.Length.ToString()} Yards")
	};

			var backgroundColor = Model.GetBackgroundColor(item.ElasticType.Type);

			var cardModel = new BaseDataCard
					{
						ID = item.ID,
						MainText = item.ElasticType.Type,
						FirstLetter = item.ElasticType.Type[0],
						ExpandableData = expandableData,
						BackgroundColor = backgroundColor
					};

			<partial name="Index/_DataCard" model="cardModel" />
			<script src="~/js/cardSize.js" asp-append-version="true"></script>
		}
	</div>

	<div id="tableView" style="display: none;">
		<table class="table table-colors">
			<thead>
				<tr>
					@foreach (var column in columnHeaders)
					{
						<partial name="Index/_SortableHeader" model="column" />
					}
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model.Items)
				{
					<tr class="table-row-clickable" data-href='@Url.Page("./Details", new {id = item.ID})'>
						<td>
							@Html.DisplayFor(modelItem => item.ElasticType.Type)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Color)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Width)"
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Length) Yards
						</td>
						<td class="text-right">
							<partial name="Index/_IndexActionPartial" model="@item.ID" />
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
	<div>
		<partial name="Index/_Pagination" model="Model"/>
	</div>
}
else
{
	<h1>Elastic</h1>
	<h5>It looks like you don't have any elastic here. Let's fix that <a asp-page="./Create">here</a>.</h5>
}