@page "{currentpage=1}/{sort?}/{sortDirection?}"
@using ModelLibrary.Models.Shared;
@model FrontEnd.Pages.Data.Elastic.Elastic.IndexModel

@{
	ViewData["Title"] = "Index";
	var currentSortProperty = Model.Sort;
	var currentSortDirection = Model.SortDirection;
	var columns = new List<TableHeaderModel>
	{
		new TableHeaderModel("ElasticType.Type", "Elastic Type", currentSortProperty, currentSortDirection),
		new TableHeaderModel("Color", "Color", currentSortProperty, currentSortDirection),
		new TableHeaderModel("Width", "Width", currentSortProperty, currentSortDirection),
		new TableHeaderModel("Length", "Length", currentSortProperty, currentSortDirection)
	};
}

<h1>Elastic</h1>

@if (Model.Items.Count != 0)
{
	<div class="d-flex justify-content-between align-items-center">
		<h4>
			<a asp-page="Create">Add New Elastic</a>
		</h4>
		<partial name="_PageSizeDropdown" model="Model" />
	</div>
	<table class="table table-colors">
		<thead>
			<tr>
				@foreach (var column in columns)
				{
					<partial name="_SortableHeader" model="column" />
				}
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.Items)
			{
				<tr class="table-row-clickable" data-href='@Url.Page("./Details", new {id = item.ID})'>
					<td>
						@Html.DisplayFor(modelItem => item.ElasticType.Type)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Color)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Width)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Length)
					</td>
					<td>
						<a asp-page="./Edit" asp-route-id="@item.ID" class="btn btn-primary btn-sm hide-on-mobile" title="Edit"><i class="fas fa-edit"></i></a>
						<a asp-page="./Details" asp-route-id="@item.ID" class="btn btn-info btn-sm hide-on-mobile" title="Details"><i class="fas fa-info-circle text-white"></i></a>
						<a asp-page="./Delete" asp-route-id="@item.ID" class="btn btn-danger btn-sm hide-on-mobile" title="Delete"><i class="fas fa-trash-alt"></i></a>
					</td>
				</tr>
			}
		</tbody>
	</table>
	<div>
		@await Html.PartialAsync("_Pagination", Model)
	</div>
}
else
{
	<h5>It looks like you don't have any elastic here. Let's fix that <a asp-page="./Create">here</a>.</h5>
}