@page
@model FrontEnd.Pages.Data.Fabric.Fabric.DeleteModel

@{
	ViewData["Title"] = "Delete this Fabric";
}

<partial name="_PageTitle" />

<div class="container mt-4">
	<div class="card mt-4">
		<div class="card-body">
			<dl class="row">

				<dt class="col-sm-3">Appearance</dt>
				<dd class="col-sm-9">@Model.Item.Appearance</dd>

				<dt class="col-sm-3">Fabric Type</dt>
				<dd class="col-sm-9">
					@Model.Item.FabricType.Type
				</dd>

				<dt class="col-sm-3">Fabric Brand</dt>
				<dd class="col-sm-9">
					@Model.Item.FabricBrand.FullName
				</dd>

				<dt class="col-sm-3">Purchase Price</dt>
				<dd class="col-sm-9">@Model.Item.PurchasePrice.ToString("C")</dd>

				<dt class="col-sm-3">Value</dt>
				<dd class="col-sm-9">@Model.Item.Value.ToString("C")</dd>

				<dt class="col-sm-3">Print Or Solid</dt>
				<dd class="col-sm-9">
					@if (Model.Item.SolidOrPrint)
					{
						@:Print
					}
					else
					{
						@:Solid
					}
				</dd>

				<dt class="col-sm-3">Amount</dt>
				<dd class="col-sm-9">@Model.Item.Amount Yards</dd>

			</dl>
		</div>
	</div>
	<partial name="Delete/_DeleteConfirmForm" model="Model.Item" />
</div>
