@page
@model FrontEnd.Pages.Data.Thread.Thread.IndexModel

@{
	ViewData["Title"] = "Index";
}

<h1>Thread</h1>

@if (Model.Thread.Count != 0)
{
	<h4>
		<a asp-page="Create">Add New Thread</a>
	</h4>
	<table class="table table-colors">
		<thead>
			<tr>
				<th>Thread Type</th>
				<th>Color Family</th>
				<th>Color</th>
				<th>Quantity of Spools</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.Thread)
			{
				<tr class ="table-row-clickable" data-href='@Url.Page("./Details", new {id = item.ID})'>
					<td>
						@Html.DisplayFor(modelItem => item.ThreadType.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.ColorFamily.ColorFamily)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Color.Color)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Quantity)
					</td>
					<td>
						<a asp-page="./Edit" asp-route-id="@item.ID" class="btn btn-primary btn-sm hide-on-mobile" title="Edit"><i class="fas fa-edit"></i></a>
						<a asp-page="./Details" asp-route-id="@item.ID" class="btn btn-info btn-sm hide-on-mobile" title="Details"><i class="fas fa-info-circle text-white"></i></a>
						<a asp-page="./Delete" asp-route-id="@item.ID" class="btn btn-danger btn-sm hide-on-mobile" title="Delete"><i class="fas fa-trash-alt"></i></a>
					</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<h5>How can you sew without any thread? Let's add it <a asp-page="./Create">here</a>.</h5>
}