@page "{currentpage=1}/{sort?}/{sortDirection?}"
@using ModelLibrary.Models.Shared;
@model FrontEnd.Pages.Data.Thread.Thread.IndexModel

@{
	ViewData["Title"] = "Index";
	var currentSortProperty = Model.Sort;
	var currentSortDirection = Model.SortDirection;
	var columns = new List<TableHeaderModel>
	{
		new TableHeaderModel("ThreadType.Name", "Thread Type", currentSortProperty, currentSortDirection),
		new TableHeaderModel("ColorFamily.ColorFamily", "Color Family", currentSortProperty, currentSortDirection),
		new TableHeaderModel("Color.Color", "Color", currentSortProperty, currentSortDirection),
		new TableHeaderModel("Quantity", "Quantity of Spools", currentSortProperty, currentSortDirection)
	};
}

<h1>Thread</h1>

@if (Model.Items.Count != 0)
{
	<div class="d-flex justify-content-between align-items-center">
		<h4>
			<a asp-page="Create">Add New Thread</a>
		</h4>
		<partial name="_PageSizeDropdown" model="Model" />
	</div>
	<table class="table table-colors">
		<thead>
			<tr>
				@foreach (var column in columns)
				{
					<partial name="_SortableHeader" model="column" />
				}
@*				<th>Thread Type</th>
				<th>Color Family</th>
				<th>Color</th>
				<th>Quantity of Spools</th>
				<th></th>*@
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.Items)
			{
				<tr class="table-row-clickable" data-href='@Url.Page("./Details", new {id = item.ID})'>
					<td>
						@Html.DisplayFor(modelItem => item.ThreadType.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.ColorFamily.ColorFamily)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Color.Color)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Quantity)
					</td>
					<td>
						<a asp-page="./Edit" asp-route-id="@item.ID" class="btn btn-primary btn-sm hide-on-mobile" title="Edit"><i class="fas fa-edit"></i></a>
						<a asp-page="./Details" asp-route-id="@item.ID" class="btn btn-info btn-sm hide-on-mobile" title="Details"><i class="fas fa-info-circle text-white"></i></a>
						<a asp-page="./Delete" asp-route-id="@item.ID" class="btn btn-danger btn-sm hide-on-mobile" title="Delete"><i class="fas fa-trash-alt"></i></a>
					</td>
				</tr>
			}
		</tbody>
	</table>
	<div>
		@await Html.PartialAsync("_Pagination", Model)
	</div>
}
else
{
	<h5>How can you sew without any thread? Let's add it <a asp-page="./Create">here</a>.</h5>
}