@page
@model FrontEnd.Pages.Data.Thread.Thread.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Thread[0].ThreadType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Thread[0].ColorFamily)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Thread[0].Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Thread[0].Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Thread) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ThreadType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColorFamily.ColorFamily)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
