@page
@model FrontEnd.Pages.Data.Machine.DeleteModel

@{
    ViewData["Title"] = "Delete this Machine";
}

<partial name="_PageTitle" />

<div class="container mt-4">
    <div class="card mt-4">
        <div class="card-body">
            <dl class="row">

                <dt class="col-sm-3">Brand</dt>
                <dd class="col-sm-9">@Model.Item.Brand</dd>

                <dt class="col-sm-3">Model</dt>
                <dd class="col-sm-9">@Model.Item.Model</dd>

                <dt class="col-sm-3">Purchase Date</dt>
                <dd class="col-sm-9">@Model.Item.PurchaseDate.ToString("MMMM dd yyyy")</dd>

                <dt class="col-sm-3">Purchase Price</dt>
                <dd class="col-sm-9">@Model.Item.PurchasePrice?.ToString("C")</dd>

                <dt class="col-sm-3">Last Serviced</dt>
                <dd class="col-sm-9">@Model.Item.LastServiced.ToString("MMMM dd yyyy")</dd>

            </dl>
        </div>
    </div>
    <partial name="Delete/_DeleteConfirmForm" model="Model.Item" />
</div>
