@page
@model FrontEnd.Pages.Data.Machine.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Machine</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.PurchaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.PurchaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.PurchasePrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.PurchasePrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.LastServiced)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.LastServiced)
        </dd>

    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Item?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
