@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="text-center">

	@if (User.IsInRole("User"))
	{
		<h1>Welcome @User.Identity.Name</h1>
		<h4>Here's a peek at your textile treasures</h4>
		<br />
		<div class="table-container">
			<div class="row">
				<div class="col-md-6">
					@if (Model.multiData.Fabrics.Count != 0)
					{
						<a asp-page="/Data/Fabric/Fabric/Index" style="text-decoration: none; color: inherit;">
							<div class="table-row">
								<div class="fabric-table">
									<h2>Fabrics</h2>
									<table class="table">
										<thead>
											<tr>
												<th>Fabric Type</th>
												<th>Appearance</th>
												<th>Amount</th>
											</tr>
										</thead>
										<tbody>
											@foreach (var item in Model.multiData.Fabrics)
											{
												<tr>
													<td>@Html.DisplayFor(modelItem => item.FabricType)</td>
													<td>@Html.DisplayFor(modelItem => item.Appearance)</td>
													<td>@Html.DisplayFor(modelItem => item.Amount)</td>
												</tr>
											}
										</tbody>
									</table>
								</div>
							</div>
						</a>
					}
					else
					{
						<div class="table-row">
							<div class="fabric-table">
								<h2>Fabrics</h2>
								<p>You haven't added any Fabrics yet. Click <a asp-page="Data/Fabric/Fabric/Create">here</a> to create one!</p>
							</div>
						</div>
					}
				</div>
				<div class="col-md-6">
					@if (Model.multiData.Threads.Count != 0)
					{
						<a asp-page="/Data/Thread/Thread/Index" style="text-decoration: none; color: inherit;">
							<div class="table-row">
								<div class="thread-table">
									<h2>Threads</h2>
									<table class="table">
										<thead>
											<tr>
												<th>Thread Type</th>
												<th>Color</th>
												<th>Quantity</th>
											</tr>
										</thead>
										<tbody>
											@foreach (var item in Model.multiData.Threads)
											{
												<tr>
													<td>@Html.DisplayFor(modelItem => item.ThreadType)</td>
													<td>@Html.DisplayFor(modelItem => item.ThreadColor)</td>
													<td>@Html.DisplayFor(modelItem => item.Quantity)</td>
												</tr>
											}
										</tbody>
									</table>
								</div>
							</div>
						</a>
					}
					else
					{
						<div class="table-row">
							<div class="thread-table">
								<h2>Threads</h2>
								<p>You haven't added any Threads yet. Click <a asp-page="Data/Thread/Thread/Create">here</a> to create one!</p>
							</div>
						</div>
					}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					@if (Model.multiData.Elastics.Count != 0)
					{
						<a asp-page="/Data/Elastic/Elastic/Index" style="text-decoration: none; color: inherit;">
							<div class="table-row">
								<div class="elastic-table">
									<h2>Elastics</h2>
									<table class="table">
										<thead>
											<tr>
												<th>Elastic Type</th>
												<th>Color</th>
												<th>Width</th>
												<th>Length</th>
											</tr>
										</thead>
										<tbody>
											@foreach (var item in Model.multiData.Elastics)
											{
												<tr>
													<td>@Html.DisplayFor(modelItem => item.ElasticType)</td>
													<td>@Html.DisplayFor(modelItem => item.Color)</td>
													<td>@Html.DisplayFor(modelItem => item.Width)</td>
													<td>@Html.DisplayFor(modelItem => item.Length)</td>
												</tr>
											}
										</tbody>
									</table>
								</div>
							</div>
						</a>
					}
					else
					{
						<div class="table-row">
							<div class="elastic-table">
								<h2>Elastics</h2>
								<p>You haven't added any Elastics yet. Click <a asp-page="Data/Elastic/Elastic/Create">here</a> to create one!</p>
							</div>
						</div>
					}
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					@if (Model.multiData.Machines.Count != 0)
					{
						<a asp-page="/Data/Machine/Index" style="text-decoration: none; color: inherit;">
							<div class="table-row">
								<div class="machine-table">
									<h2>Machines</h2>
									<table class="table">
										<thead>
											<tr>
												<th>Brand</th>
												<th>Model</th>
												<th>Last Serviced</th>
											</tr>
										</thead>
										<tbody>
											@foreach (var item in Model.multiData.Machines)
											{
												<tr>
													<td>@Html.DisplayFor(modelItem => item.Brand)</td>
													<td>@Html.DisplayFor(modelItem => item.Model)</td>
													<td>@item.LastServiced.ToString("MMMM dd yyyy")</td>
												</tr>
											}
										</tbody>
									</table>
								</div>
							</div>
						</a>
					}
					else
					{
						<div class="table-row">
							<div class="machine-table">
								<h2>Machines</h2>
								<p>You haven't added any Machines yet. Click <a asp-page="Data/Machine/Create">here</a> to create one!</p>
							</div>
						</div>
					}
				</div>
				<div class="col-md-6">
					@if (Model.multiData.Miscs.Count != 0)
					{
						<a asp-page="/Data/Misc/MiscObjects/Index" style="text-decoration: none; color: inherit;">
							<div class="table-row">
								<div class="misc-table">
									<h2>Miscellaneous</h2>
									<table class="table">
										<thead>
											<tr>
												<th>Item Type</th>
												<th>Specific Info</th>
											</tr>
										</thead>
										<tbody>
											@foreach (var item in Model.multiData.Miscs)
											{
												<tr>
													<td>@Html.DisplayFor(modelItem => item.ItemType)</td>
													<td>@Html.DisplayFor(modelItem => item.SpecificInfo)</td>
												</tr>
											}
										</tbody>
									</table>
								</div>
							</div>
						</a>
					}
					else
					{
						<div class="table-row">
							<div class="misc-table">
								<h2>Miscellaneous</h2>
								<p>You haven't added any Miscellaneous Items yet. Click <a asp-page="Data/Misc/MiscObjects/Create">here</a> to create one!</p>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	}
	else
	{
		<h1 class="display-4">Welcome to Stitchers Stash!</h1>

	}
</div>
