@page
@model FrontEnd.Pages.Data.Misc.MiscType.IndexModel

@{
	ViewData["Title"] = "Index";
}

<h1>Miscellaneous Item Types</h1>

@if (Model.MiscItemType.Count != 0)
{
	<h4>
		<a asp-page="Create">Add New Item Type</a>
	</h4>
	<table class="table table-colors">
		<thead>
			<tr>
				<th>Item Type</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.MiscItemType)
			{
				<tr class="table-row-clickable" data-href='@Url.Page("./Details", new {id = item.ID})'>
					<td>
						@Html.DisplayFor(modelItem => item.Item)
					</td>
					<td>
						<a asp-page="./Edit" asp-route-id="@item.ID" class="btn btn-primary btn-sm hide-on-mobile" title="Edit"><i class="fas fa-edit"></i></a>
						<a asp-page="./Details" asp-route-id="@item.ID" class="btn btn-info btn-sm hide-on-mobile" title="Details"><i class="fas fa-info-circle text-white"></i></a>
						<a asp-page="./Delete" asp-route-id="@item.ID" class="btn btn-danger btn-sm hide-on-mobile" title="Delete"><i class="fas fa-trash-alt"></i></a>
					</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<h5>We can categorize our items into easy groups. Let's start <a asp-page="./Create">here</a>.</h5>
}