@page
@model FrontEnd.Pages.Data.Misc.MiscObjects.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MiscObjects</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.ItemType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.ItemType.Item)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.AdditionalNotes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.AdditionalNotes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.SpecificInfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.SpecificInfo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Value)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Value)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.PurchasePrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.PurchasePrice)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Item.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
