@page
@model FrontEnd.Pages.Data.Misc.MiscObjects.DetailsModel

@{
	ViewData["Title"] = "Miscellaneous Item Details";
}

<partial name="_PageTitle" />
<div class="container mt-4">
	<div class="card mt-4">
		<div class="card-body">
			<dl class="row">

				<dt class="col-sm-3">Item Type</dt>
				<dd class="col-sm-9">
					<a href="@Url.Page("../MiscType/Details", new { id = Model.Item.ItemType.ID })" class="subtle-link">@Model.Item.ItemType.Item</a>
				</dd>

				<dt class="col-sm-3">Quantity</dt>
				<dd class="col-sm-9">@Model.Item.Quantity</dd>

				@if (Model.Item.AdditionalNotes != null)
				{
					<dt class="col-sm-3">Additional Notes</dt>
					<dd class="col-sm-9">@Model.Item.AdditionalNotes</dd>
				}

				@if (Model.Item.Brand != null)
				{
					<dt class="col-sm-3">Brand</dt>
					<dd class="col-sm-9">@Model.Item.Brand</dd>
				}

				@if (Model.Item.SpecificInfo != null)
				{
					<dt class="col-sm-3">Specific Info</dt>
					<dd class="col-sm-9">@Model.Item.SpecificInfo</dd>
				}

				@if (Model.Item.Value != null)
				{
					<dt class="col-sm-3">Value</dt>
					<dd class="col-sm-9">@Model.Item.Value?.ToString("C")</dd>
				}

				@if (Model.Item.PurchasePrice != null)
				{
					<dt class="col-sm-3">Purchase Price</dt>
					<dd class="col-sm-9">@Model.Item.PurchasePrice?.ToString("C")</dd>
				}

			</dl>
		</div>
	</div>
	<partial name="Details/_ToEditBackButtons" />
</div>
