@page
@model FrontEnd.Pages.Data.Misc.MiscObjects.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MiscObjects</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MiscObjects.ItemType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MiscObjects.ItemType.Item)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MiscObjects.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MiscObjects.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MiscObjects.AdditionalNotes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MiscObjects.AdditionalNotes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MiscObjects.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MiscObjects.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MiscObjects.SpecificInfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MiscObjects.SpecificInfo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MiscObjects.Value)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MiscObjects.Value)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MiscObjects.PurchasePrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MiscObjects.PurchasePrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.MiscObjects?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
