@page "{currentpage:int?}"
@model FrontEnd.Pages.Data.Misc.MiscObjects.IndexModel

@{
	ViewData["Title"] = "Index";
}

<h1>Miscellaneous Items</h1>

@if (Model.MiscObjects.Count != 0)
{
	<h4>
		<a asp-page="Create">Add New Item</a>
	</h4>
	<table class="table table-colors">
		<thead>
			<tr>
				<th>Item Type</th>
				<th>Quantity</th>
				<th>Brand</th>
				<th>Specific Info</th>
				<th>Additional Notes</th>
				<th class="hide-on-mobile">Value</th>
				<th class="hide-on-mobile">Purchase Price</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.MiscObjects)
			{
				<tr class="table-row-clickable" data-href='@Url.Page("./Details", new {id = item.ID})'>
					<td>
						@Html.DisplayFor(modelItem => item.ItemType.Item)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Quantity)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Brand)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.SpecificInfo)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.AdditionalNotes)
					</td>
					<td class="hide-on-mobile">
						@Html.DisplayFor(modelItem => item.Value)
					</td>
					<td class="hide-on-mobile">
						@Html.DisplayFor(modelItem => item.PurchasePrice)
					</td>
					<td>
						<a asp-page="./Edit" asp-route-id="@item.ID" class="btn btn-primary btn-sm hide-on-mobile" title="Edit"><i class="fas fa-edit"></i></a>
						<a asp-page="./Details" asp-route-id="@item.ID" class="btn btn-info btn-sm hide-on-mobile" title="Details"><i class="fas fa-info-circle text-white"></i></a>
						<a asp-page="./Delete" asp-route-id="@item.ID" class="btn btn-danger btn-sm hide-on-mobile" title="Delete"><i class="fas fa-trash-alt"></i></a>
					</td>
				</tr>
			}
		</tbody>
	</table>
	<div>
		@await Html.PartialAsync("_Pagination", Model)
	</div>
}
else
{
	<h5>Do you have things that don't fit in the other categories? Let's add them <a asp-page="./Create">here</a>.</h5>
}