@page "{currentpage=1}/{sort?}/{sortDirection?}"
@using ModelLibrary.Models.Shared;
@model FrontEnd.Pages.Data.Misc.MiscObjects.IndexModel

@{
	ViewData["Title"] = "Miscellaneous Items";
	var currentSortProperty = Model.Sort;
	var currentSortDirection = Model.SortDirection;
	var columnHeaders = new List<TableHeaderModel>
	{
		new TableHeaderModel("ItemType.Item", "Item Type", currentSortProperty, currentSortDirection, false),
		new TableHeaderModel("Quantity", "Quantity", currentSortProperty, currentSortDirection, false),
		new TableHeaderModel("Brand", "Brand", currentSortProperty, currentSortDirection, false),
		new TableHeaderModel("SpecificInfo", "Specific Info", currentSortProperty, currentSortDirection, false),
		new TableHeaderModel("AdditionalNotes", "Additional Notes", currentSortProperty, currentSortDirection, false),
		new TableHeaderModel("Value", "Value", currentSortProperty, currentSortDirection, true),
		new TableHeaderModel("PurchasePrice", "Purchase Price", currentSortProperty, currentSortDirection, true)
	};
}

@if (Model.Items.Count != 0)
{
	<div class="d-flex justify-content-between align-items-center">
		<partial name="_PageTitle" />
		<partial name="Index/_PageSizeDropdown" model="Model" />
	</div>
	<br />
	<div class="d-flex justify-content-between align-items-center">
		<h4>
			<a asp-page="Create">Add New Item</a>
		</h4>
		<partial name="Index/_TableCardButtons" model="Model" />
	</div>
	<br />

	<div id="cardView" style="display: none;">
		<link rel="stylesheet" type="text/css" href="~/css/sortBar.css" asp-append-version="true" />
		<div id="sortBar">
			@foreach (var column in columnHeaders)
			{
				<partial name="Index/_SortBar" model="column" />
			}
		</div>
		<link rel="stylesheet" type="text/css" href="~/css/dataCard.css" asp-append-version="true" />
		@foreach (var item in Model.Items)
		{
			var expandableData = new List<KeyValuePair<string, string>>
	{
	new KeyValuePair<string, string>("Brand", item.Brand ?? "N/A"),
	new KeyValuePair<string, string>("Specific Info", item.SpecificInfo ?? "N/A"),
	new KeyValuePair<string, string>("Additional Notes", item.AdditionalNotes ?? "N/A"),
	new KeyValuePair<string, string>("Value", item.Value.ToString() ?? "N/A"),
	new KeyValuePair<string, string>("Purchase Price", item.PurchasePrice.ToString() ?? "N/A")
	};

			var bottomText = new List<string>
	{
	"#D3D3D3",
	$"Quantity: {item.Quantity.ToString()}"
	};

			var backgroundColor = Model.GetBackgroundColor(item.ItemType.Item);

			var cardModel = new BaseDataCard
					{
						ID = item.ID,
						MainText = item.ItemType.Item,
						FirstLetter = item.ItemType.Item[0],
						ExpandableData = expandableData,
						BackgroundColor = backgroundColor,
						BottomText = bottomText
					};

			<partial name="Index/_DataCard" model="cardModel" />
			<script src="~/js/cardSize.js" asp-append-version="true"></script>
		}
	</div>

	<div id="tableView" style="display: none;">
		<table class="table table-colors">
			<thead>
				<tr>
					@foreach (var column in columnHeaders)
					{
						<partial name="Index/_SortableHeader" model="column" />
					}
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model.Items)
				{
					<tr class="table-row-clickable" data-href='@Url.Page("./Details", new {id = item.ID})'>
						<td>
							@Html.DisplayFor(modelItem => item.ItemType.Item)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Quantity)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Brand)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.SpecificInfo)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.AdditionalNotes)
						</td>
						<td class="hide-on-mobile">
							@Html.DisplayFor(modelItem => item.Value)
						</td>
						<td class="hide-on-mobile">
							@Html.DisplayFor(modelItem => item.PurchasePrice)
						</td>
						<td class="text-right">
							<partial name="Index/_IndexActionPartial" model="@item.ID" />
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
	<div>
		<partial name="Index/_Pagination" model="Model" />
	</div>
}
else
{
	<h1>Miscellaneous Items</h1>
	<h5>Do you have things that don't fit in the other categories? Let's add them <a asp-page="./Create">here</a>.</h5>
}